body {
    font-family: Roboto,sans-serif;
}

.weather{
    height: 30px;
    font-size: 1.7rem;
    cursor: pointer;
    user-select: none;
}
.weather .city{
    margin-right: 5px;
}

.invalid-feedback {
    color: #dc3545;
}

.is-invalid{
    border-color: #dc3545 !important;
    background: rgba(220,53,69,.5) !important;
}

.price-product{
    cursor: pointer;
    background: inherit;
    border: 0;
    width: 100px;
    text-align: center;
    border-radius: 3px;
}
.price-product:focus{
    background: white;
    outline: none;
    border: solid 1px;
}